{% extends "layout.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static "accounts/joinus.css" %}">
{% endblock style %}

{% block content %}
      <!-- 로고 -->
  <div class="container mt-5 pt-5">
    <div class="row ml-5 pl-5">
      <img src="{% static 'img/logo.PNG' %}" alt=Tourpin로고"">
      <p class="h5 mt-5 pt-5">&#42; 는 필수 입력사항입니다.</p>
    </div>
  </div>
  <!-- // 로고 -->

  <!-- 회원가입 -->
  <div class="container mt-5">
    <form class="setting__content form-group" method="post">
      {% csrf_token %}
        <div class="id__setting form-group row ml-sm-2 ml-md-4 ml-lg-5 mr-sm-2 mr-md-4 mr-lg-5 pl-md-4 pl-lg-5 pr-md-4 pr-lg-5">
          <p>{{form.non_field_errors}} </p>

          <!-- ID(Emaill) 시작 -->
          <label for=" {{form.username.id_for_label }}" class="col-form-label font-weight-bold col-12 col-sm-5 col-md-4 col-lg-3"><i class="fa fa-circle mr-3"></i>ID(Email)</label>
          <div class="id__content col-12 col-sm-7 col-md-8">
            {{ form.username}}
            {% for error in form.username.errors %}
              <p>{{error}}</p>  
            {% endfor %}
          </div>
        </div>
        <!--// ID(Email) 끝-->

        <!-- PASSWORD1 시작-->
        <div class="pw__setting form-group row ml-sm-2 ml-md-4 ml-lg-5 mr-sm-2 mr-md-4 mr-lg-5 pl-md-4 pl-lg-5 pr-md-4 pr-lg-5">
          <label for="{{form.password1.id_for_label}}" class="col-form-label font-weight-bold col-12 col-sm-5 col-md-4 col-lg-3"><i class="fa fa-circle mr-3"></i>PASSWORD</label>
          <div class="pw__content col-12 col-sm-7 col-md-8">
            {{form.password1}}
          </div>
          <small id="pwdlHelp" class="form-text text-muted ml-5">&#40;8자 이상&#44; 영문&#44; 숫자&#41;</small>
            {% for error in form.password1.errors %}
              <p>{{error}}</p>  
            {% endfor %}
        </div>
        <!--// PASSWORD1 끝-->

        <!-- PASSWORD2 시작-->
        <div class="re-enter_pw__setting form-group row ml-sm-2 ml-md-4 ml-lg-5 mr-sm-2 mr-md-4 mr-lg-5 pl-md-4 pl-lg-5 pr-md-4 pr-lg-5">
          <label for="{{ form.password2.id_for_label }}" class="col-form-label font-weight-bold col-12 col-sm-5 col-md-4 col-lg-3"><i class="fa fa-circle mr-3"></i>PASSWORD 확인</label>
          <div class="re-enter_pw__content col-12 col-sm-7 col-md-8">
            {{ form.password2 }}
          </div>
          {% for error in form.password2.errors %}
              <p>{{error}}</p>  
          {% endfor %}
        </div>
        <!--// PASSWORD2 끝-->

        <!-- NAME 시작-->
        <div class="name__setting form-group row ml-sm-2 ml-md-4 ml-lg-5 mr-sm-2 mr-md-4 mr-lg-5 pl-md-4 pl-lg-5 pr-md-4 pr-lg-5">
          <label for="{{ form.first_name.id_for_label }}" class="col-form-label font-weight-bold col-12 col-sm-5 col-md-4 col-lg-3"><i class="fa fa-circle mr-3"></i>NAME</label>
          <div class="name__content col-12 col-sm-7 col-md-8">
            {{ form.first_name }}
          </div>
          {% for error in form.first_name.errors %}
              <p>{{error}}</p>  
          {% endfor %}
        </div>
        <!--// NAME 끝-->

        <!-- ADDRESS 시작 -->
        <div class="address__setting form-group row ml-sm-2 ml-md-4 ml-lg-5 mr-sm-2 mr-md-4 mr-lg-5 pl-md-4 pl-lg-5 pr-md-4 pr-lg-5">
          <label for="example-text-input" class="col-form-label font-weight-bold col-12 col-sm-5 col-md-4 col-lg-3"><i class="fa fa-circle mr-3"></i>ADDRESS</label>
          <div class="address__content col-12 col-sm-7 col-md-8">
            <div class="cover__form">
              <div class="row">
                <div class="form-inline" style="width:100%">
                  <label for="{{ form.country.id_for_label }}" class="sr-only"></label>
                  {{ form.country }}
                  <label for="{{ form.local.id_for_label }}" class="sr-only"></label>
                  {{ form.local }}
                </div>
                  {% for error in form.country.errors %}
                    <p>{{error}}</p>  
                  {% endfor %}
                  {% for error in form.local.errors %}
                    <p>{{error}}</p>  
                  {% endfor %}
              </div>
            </div>
          </div>
        </div>
        
        <div class="detailed_address__setting form-group row ml-sm-2 ml-md-4 ml-lg-5 mr-sm-2 mr-md-4 mr-lg-5 pl-md-4 pl-lg-5 pr-md-4 pr-lg-5">
          <label for="{{ form.address.id_for_label }}" class="col-form-label font-weight-bold col-12 col-sm-5 col-md-4 col-lg-3"></label>
          <div class="detailed_address__content col-12 col-sm-7 col-md-8">
            {{form.address}}
          </div>
          {% for error in form.address.errors %}
            <p>{{error}}</p>  
          {% endfor %}
        </div>
        <!--// ADDRESS 끝 -->

        <!-- BIRTHDATE 시작-->
        <div class="birthdate__setting form-group row ml-sm-2 ml-md-4 ml-lg-5 mr-sm-2 mr-md-4 mr-lg-5 pl-md-4 pl-lg-5 pr-md-4 pr-lg-5">
          <div class="form-inline" style="width:100%;">
            <label for="{{ form.birthdate.id_for_label }}" class="col-form-label font-weight-bold col-12 col-sm-5 col-md-4 col-lg-3"><i class="fa fa-circle mr-3"></i>BIRTHDATE</label>
            {{ form.birthdate }}
            {% for error in form.birthdate.errors %}
              <p>{{error}}</p>  
            {% endfor %}
          </form>
        </div>
         <!--// BIRTHDATE 끝-->

         <!-- GENDER 시작 -->
        <div class="gender__setting form-group row ml-sm-2 ml-md-4 ml-lg-5 mr-sm-2 mr-md-4 mr-lg-5 pl-md-4 pl-lg-5 pr-md-4 pr-lg-5" style="width:100%">
          <label for="gender-text-input" class="col-form-label font-weight-bold col-12 col-sm-5 col-md-4 col-lg-3"><i class="fa fa-circle mr-3"></i>GENDER</label>
            <label for="{{ form.gender.id_for_label }}" class="sr-only"></label>
            {{ form.gender }}
            {% for error in form.gender.errors %}
              <p>{{error}}</p>  
            {% endfor %}
        </div>
        <!--// GENDER 끝 -->

        <!-- PHONE_NUMBER 시작 -->
        <div class="p_number__setting form-group row ml-sm-2 ml-md-4 ml-lg-5 mr-sm-2 mr-md-4 mr-lg-5 pl-md-4 pl-lg-5 pr-md-4 pr-lg-5" style="width:100%;">
          <label for="{{ form.phone_num.id_for_label }}" class="col-form-label font-weight-bold col-12 col-sm-5 col-md-4 col-lg-3"><i class="fa fa-circle mr-3"></i>P.NUMBER</label>
          <div class="p_number__content col-12 col-sm-7 col-md-8">
            {{ form.phone_num }}
            <small id="emailHelp" class="form-text text-muted">&lsquo; &ndash; &rsquo; 없이 입력하세요.</small>
            {% for error in form.phone_num.errors %}
              <p>{{error}}</p>  
            {% endfor %}
          </div>
        </div>
        <!--// PHONE_NUMBER 끝 -->
      
      <div class="d-flex flex-row-reverse pr-sm-2 mr-sm-2">
        <button type="submit" class="btn__join_us px-3 py-1">
            JOIN<br>
            US
        </button>
        </form>
        </div>
        </div>
        </form>
      </div>
    </div>
  <!-- // 회원 정보 수정 -->
{% endblock content %}

{% block index_modal %}
{% endblock index_modal %}

{% block login_modal %}
{% endblock login_modal %}