{% extends "layout.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/set_up.css' %}">
{% endblock style %}

{% block content %}
 <!-- 피드백 & 도움말 -->
  <div class="icon d-flex flex-row-reverse mt-5">
    <button type="button" class="btn__help mr-2 mr-md-4 mt-2" data-toggle="tooltip" data-placement="bottom" title="도움말">
      <a class="icon-section fa fa-question fa-2x" href="#"></a>
    </button>
    <button type="button" class="btn__feedback mr-1 mr-md-3 mt-2" data-toggle="tooltip" data-placement="bottom" title="피드백">
      <a class="icon-section fa fa-envelope fa-2x" href="#"></a>
    </button>
  </div>
  <!-- // 피드백 & 도움말 -->

  <!-- 환경 설정 메뉴 탭 -->
  <div class="setting-menu container mb-2">
    <h1 class="setting__title font-weight-bold mx-2 mx-md-3 mx-lg-4 px-2 px-md-3 px-lg-4">Set-up</h1><div class="times"></div>
    <ul class="setting__tabs nav nav-tabs mx-2 mx-md-3 mx-lg-4 px-2 px-md-3 px-lg-4">
      <li class="setting__menu">
        <a class="nav-link active font-weight-bold" href="">회원 정보 수정</a>
      </li>
      <li class="setting__menu">
        <a class="nav-link" href="">꾸미기</a>
      </li>
      <li class="setting__menu">
        <a class="nav-link" href="">알림 &middot; 보안</a>
      </li>
      <li class="setting__menu">
        <a class="nav-link" href="{% url 'sign_out' %}">회원 탈퇴</a>
      </li>
    </ul>
  </div>
  <!-- // 환경 설정 메뉴 탭 -->

  <!-- 회원 정보 수정 -->
  <div class="container mt-5">
    <form class="form-group mx-sm-3 mx-md-5 px-sm-3 px-md-5" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input class="send_data" type="submit" value="ok">

    </form>
  </div>
  <!-- // 회원 정보 수정 -->   
  <input type="hidden" id="token" value="{{token}}">
{% endblock content %}

{% block script %}
 <script>
 console.log("스크립트 실행중..")
 var token = $('#token').attr('value');
 if(token){
 setInterval(function(){
  console.log("셋 타임 아웃 실행중")
  
  $.ajax({
    type :'post',
    url : "{% url 'update_time' %}",
    data :{
      "token": token,
      "csrfmiddlewaretoken": '{{csrf_token}}',
    },
    success : function(data, textStatus, jqXHR){
      $('.times').html(data)
        console.log("새로고침")
        
    },
    error : function(data, textStatus, jqXHR){
      window.location.reload(true);
    },
  });
 }, 10 * 1000)}
 else{}
 // setTimeout(function(){
 //  console.log("셋타임아웃 실행중")
 //  var token = $('.send_data').attr('name');
 //  console.log("token")
 //  if(token){
 //  $.ajax(){
 //    type : 'post', // post방식으로 전송
 //    url : "{% url 'update_time' %}", // 서버로 보낼 url 주소
 //    data : {  // 서버로 보낼 데이터들 dict형식 
 //      'csrfmiddlewaretoken': {{ csrf_token }},
 //    },
 //      // 서버에서 리턴받아올 데이터 형식

 //     //서버에서 무사히 html을 리턴하였다면 실행 
 //    success : function(data, textStatus, jqXHR){ 
 //      //append(data);
 //     },

 //     //서버에서 html을 리턴해주지 못했다면 
 //    error : function(data, textStatus, jqXHR){
 //    },
 //  }}
 //  }, 60 * 1000);
 </script>
{% endblock script %}






{% block login_modal %}
{% endblock login_modal %}
{% block index_modal %}    
{% endblock index_modal %}